<!-- <div class="mt-5 mb-4 d-flex">
  <h3 class="m-0">{{title}}</h3>
</div> -->

<div style=" padding-bottom: 120px;padding-top: 60px; ">

  <a (click)="openFileSelector()" class="a-file-drop">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" accept="image/*">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <!-- Solte o seu arquivo aqui ou click no botão -->
            Drop your file here or click here
            <button id="openFileSelector" type="button" class="btn btn-sm btn-primary d-none" (click)="openFileSelector()">Send files</button>
        </ng-template>
    </ngx-file-drop>
  </a>

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" *ngIf="processedImages.length != 0" style="margin-top: 60px; ">
    <div class="example-box row" *ngFor="let item of processedImages, let i = index" cdkDrag>
      <div style="position: relative;">
        <div cdkDragHandle style="position: absolute;top: -15px;right: -10px; cursor: move;width: 45px; text-align: center; display: flex; align-items: center; justify-content: center;">
          <span class="material-symbols-outlined">
            drag_handle
            </span>
        </div>
      </div>
      <div class="example-custom-placeholder col-12" *cdkDragPlaceholder></div>
      <div class="col-lg-7 col-md-12" style=" display: flex;flex-direction: row;align-items: center;padding: 0;margin: 0; ">
        <div class="row" style="width: 100%; padding: 0; margin: 0;">
          <div class="col-lg-5 col-md-5" style="text-align: center;">
            <img [src]="item.url" *ngIf="item.url!=null && item.compress.length == 0" style="max-height: 140px;">
            <img [src]="item.compress[0].compressedImage.imageDataUrl" *ngIf="item.compress.length > 0" style="max-height: 140px;border: 1px solid green;">
          </div>
          <div class="col-lg-7 col-md-7" style="min-height: 120px;display: flex;flex-direction: column;flex-wrap: wrap;justify-content: space-around;padding: 0;margin: 0;">

            <div class="p-0 m-1" style="display: flex; align-content: center; align-items: center; justify-content: space-between;height: 25px;">
                <strong>{{redutorDeNome(item.name, 60)}}</strong>
            </div>

            <div class="p-0 m-1" style="display: flex; align-content: center; align-items: center; justify-content: space-between;height: 25px;">
              <div style="width: 100%;">
                Size Original:
              </div>

              <div style="width: 100%; text-align: center;">
                <strong>{{item.sizeFile}}</strong>
              </div>

              <div style="width: 100%; text-align: end;">
                <a *ngIf="item.url != null" (click)="goToLink(item.url['changingThisBreaksApplicationSecurity'])" style="cursor: pointer;">
                  <span class="material-symbols-outlined">open_in_browser</span>
                </a>
              </div>
            </div>


            <div class="p-0 m-1" style="display: flex; align-content: center; align-items: center; justify-content: space-between;height: 25px;">
              <div style=" width: 100%; ">
                Size Compress:
              </div>

              <div style="width: 100%; text-align: center;">
                <strong *ngIf="item.sizeCompress != ' - '">{{item.sizeCompress}}</strong>
              </div>

              <div style="width: 100%; text-align: end;">
                <a *ngIf="item.compress.length > 0" (click)="goToLink(item.compress[0].compressedImage.imageObjectUrl)" style="cursor: pointer;">
                  <span class="material-symbols-outlined">open_in_browser</span>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-5 col-4" style=" display: flex;flex-direction: row;align-items: center;padding: 0;margin: 0;justify-content: space-around; ">
          <input type="number" class="form-control" min="1" value="{{i+1}}" [id]="'ordemVeiculo' + (i+1)" disabled style="width: 90%;height: 31px;text-align: center;">
      </div>
      <div class="col-lg-3 col-md-7 col-8" style="display: flex;flex-direction: row;align-items: center;padding: 0;margin: 0;justify-content: space-around;flex-wrap: nowrap;">
          <button type="submit" class="btn btn-primary btn-sm " style="margin: 3px;width: 100%;" (click)="compress(item,i)" [ngClass]="(item.stadoCompress != null && item.stadoCompress == true) ? 'bgLoadingTrue' : 'bgLoadingDefault'" [disabled]="item.stadoCompress != null && item.stadoCompress == true">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <div style="position: relative">
              <div [class.spinner]="item.stadoCompress != null && item.stadoCompress == true" ></div>
            </div>

            Compress


          </button>
          <button class="btn btn-outline-danger btn-sm " style="margin: 3px;width: 100%;" (click)="deleteItem(item,i)">
            <i class="fa fa-trash"></i>
            Delete
          </button>

          <!-- <button mat-raised-button color="primary" [class.spinner]="saving" [disabled]="saving" (click)="save()">Save</button> -->
      </div>
    </div>
  </div>
</div>
